#!/usr/bin/env python
# -*- coding: UTF-8 -*-
# secrets here
EMAIL_HOST_PASSWORD='pb03006094'

ALIPAY_PARTNER = ''
ALIPAY_KEY = ''

#DATABASES = {
    #'default': {
        #'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        #'NAME': 'readfree',   # Or path to database file if using sqlite3.
        #'USER': 'root',                      # Not used with sqlite3.
        #'PASSWORD': '',                  # Not used with sqlite3.
        #'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        #'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    #}
#}
