{% extends 'feeds/split.html' %}

{% block left %}
<p class='text-success'>
通过url添加新的RSS源,例如:
<code>https://news.ycombinator.com/rss</code>
</p>
<p></p>
<form class="form" action="" method="post">
    <table class='table table-hover table-bordered table-condensed'>
        {% csrf_token %}
        {{ form.as_table }}
    </table>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large">
            <i class="icon-plus"></i> RSS
        </button>
    </div>
</form>
{% endblock %}
