<li class='feed'>
    <div class="btn-group pull-right">
        <button class="btn btn-mini btn-info">
            <i class="icon-star-empty"></i>订阅
        </button>
        {% if user.is_superuser %}
        <a href="{% url feed_update obj.pk %}?next={{request.path}}" class="btn btn-mini btn-success">
            <i class="icon-refresh"></i>更新</a>
        <a href="{% url feed_delete obj.pk %}"
            onclick="return confirm('确定删除?');"
            class="btn btn-mini btn-danger">
            <i class="icon-trash"></i>删除</a>
        {% endif %}
    </div>
    <a href="{% url feed obj.pk %}">
    <h3>
        <img class="img img-rounded" alt="favicon"
            style="height: 24px; width: 24px;"
            src="{{obj.favicon}}">
        {{obj.title}}
    </h3>
    </a>
    <blockquote>{{obj.description}}</blockquote>
    <ul class="inline unstyled muted">
        <li>
        <small>
        更新于: {{obj.parsed}}
        </small>
        </li>
        <li>
        <small>
        订阅: {{obj.users.count}}
        </small>
        </li>
        <li>
        <small>
        文章: {{obj.item_set.count}}
        </small>
        </li>
        <li>
        <small>
        <a href="{{obj.link}}" target="_blank">访问此站</a>
        </small>
        </li>
        <li>
        <small>
        <a href="{{obj.url}}" target="_blank">查看RSS</a>
        </small>
        </li>
    </ul>
</li>
