<li class='feed'>
    {% load feeds_extra %}
    {% feed_btns obj %}
    <h3>
        <img class="img img-rounded" alt="favicon"
            style="height:32px;width:32px;vertical-align:midele;"
            src="{{obj.get_favicon}}">
        <a href="{% url feed obj.pk %}">{{obj.title}}</a>
    </h3>
    <blockquote>{{obj.description}}</blockquote>
    <ul class="inline unstyled muted">
        <li>
        <small>
        更新于: {{obj.parsed}}
        </small>
        </li>
        <li>
        <small>
        订阅: {{obj.users.count}}
        </small>
        </li>
        <li>
        <small>
        文章: {{obj.item_set.count}}
        </small>
        </li>
        <li>
        <small>
        <a href="{{obj.link}}" target="_blank">访问此站</a>
        </small>
        </li>
        <li>
        <small>
        <a href="{{obj.url}}" target="_blank">查看RSS</a>
        </small>
        </li>
    </ul>
</li>
