{% extends 'split.html' %}

{% block left %}
<ul class="unstyled well">
{% for obj in objs %}
<li class='feed'>
    <div class="btn-group pull-right">
        <button class="btn btn-mini btn-success"><i class="icon-star-empty"></i>订阅</button>
        {% if user.is_superuser %}
        <a href="{% url feed_delete obj.pk %}"
            onclick="return confirm('确定删除?');"
            class="btn btn-mini btn-danger">
            <i class="icon-trash"></i>删除</a>
        {% endif %}
    </div>
    <a href="{% url feed obj.pk %}">
    <h3>{{obj.title}}</h3>
    </a>
    <blockquote>{{obj.description}}</blockquote>
    <small class='muted'>更新于 {{obj.parsed}}, 已订阅 99</small>
    <hr />
</li>
{% endfor %}
</ul>
{% endblock %}

